# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Playwright Reports
/playwright-report/
/playwright/.cache/
/test-results/
/blob-report/

# Environment variables
.env

# MacOS specific
.DS_Store

# Output folder
server/public/

# Vite specific
dist/
